Repository xianyangwongie/git-hook-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tslint 'src/**/*.ts'

.lintstagedrc:

{
    "*.js": ["eslint --fix", "git add"],
    "*.ts": ["tslint 'src/**/*.ts'", "git add"]
}

[master] lintstage step test
  .lintstagedrc
Due: none

[branch-name] new branch
  src/test.ts
  tools/git-commit-message.sh
Due: tslint 'src/**/*.ts'

[master] prettier
  .lintstagedrc
  .prettierrc
  package-lock.json
  package.json
  src/test.js
Due: eslint --fix

[master] prettier for Typescript
  .lintstagedrc
  .prettierrc
  src/test.ts
  tslint.json
Due: tslint 'src/**/*.ts'

[master] Create README.md
  README.md
Due: none
